<!DOCTYPE html>
<html>
<head>
	<title>Add Group</title>
</head>
<body>
	<p>Select a ship and group size</p>
	<a href="/groups/manage">Return to group management</a>

	<section>
	<br>
		<form id="new_group" action="/groups/add" method="POST">
			<!-- Text input to name Group -->
			<input type="text" name="group_name" value="" placeholder="Name of Group">
			<!-- Selector with each ship name -->
			<select name="ship_name">
				<option disabled selected>-Select Ship-</option>
				<% @category.each do |ship| %>
					<option value="<%=ship[0]%>"><%=ship[0]%>: Group: <%=ship[1]%></option>
				<%end%>
			</select>
			<select name="group_size">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</optoin>
				<option value="5">5</option>
				<option value="6">6</optoin>
			</select>
			<input type="submit">
		</form>
	</section>
</body>
</html>