<!DOCTYPE html>
<html>
<head>
	<title>Fleet Builder</title>
</head>
<body>
	<p>Welcome to Fleet Builder <br> Please select a faction.</p>
	<select form="faction" name="faction" required>
		<option value="" disabled selected="">-Select Faction-</option>
		<option value="ucm">UCM</option>
		<option value="scourge">Scourge</option>
		<option value="phr">PHR</option>
		<option value="shaltari">Shaltari</option>
	</select>
	<form action="/ships" method="get" id=faction>
<!-- 		<input type="radio" name="faction" value="ucm">UCM</input><br>
		<input type="radio" name="faction" value="scourge">Scourge</input><br>
		<input type="radio" name="faction" value="phr">PHR</input><br>
		<input type="radio" name="faction" value="shaltari">Shaltari</input><br> -->
		<input type="submit"></input>
	</form>
</body>
</html>