<!DOCTYPE html>
<html>
<head>
	<title>Fleet Builder</title>
</head>
<body>
	<p>This is the home page.  It needs stuff on it.</p>
	<p>I need a button to build a new Fleet</p>
	<p>Fleets need to be displayed</p>
	<p>Fleets each need a button to delete them from DB</p>

</body>
</html>