<!DOCTYPE html>
<html>
<head>
	<title>Faction Ships</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
	</nav>
	<section>
		<p>Behold the power of your Fleet</p>
		<p><%= "Faction: #{@faction}" %></p>
		<p>Choose wisely!</p>	
		<p><%= @fleet %></p>
	</section>
</body>
</html>