<!DOCTYPE html>
<html>
<head>
	<title>Update Faction Battlegroup</title>
</head>
<body>
	<a href="/groups/manage">Return to Battlegroup Management</a>
	<form>	
			<input type="text" name="bg_name" value="<%=@bg_name%>">
	</form>
</body>
</html>